<header>
  <h2>Science, Life, Technology<strong>...</strong>
  </h2>
  <h1>Blog.</h1>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum .</p>
  <p class="arrow">&or;</p>
</header>

<div class="container" id="posts">
  <div class="row">
    <div class="col s12">
      <p id="notice"><%= notice %></p>
      <% @posts.each do |post| %>
      <div class="post">
        <div class="row">
          <div class="col-xs-12">
            <h3><%= post.title %></h3>
          </div>
          <div class="col-xs-12">
            <i><%= post.created_at %></i>
            <p class=><%= truncate(post.content, length: 400) %></p>
            <%= link_to 'View More', post %>
          </div>
        </div>
      </div>
      <%end%>
      <br>
      <!-- Floating Button -->

      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" id="homepage-btn">
        <%= link_to  new_post_path, class: "btn-floating btn-large red" do %>
        <i class="large material-icons">add</i>
        <%end%>
      </div>

    </div>
  </div>
</div>
