<p id="notice"><%= notice %></p>

<div class="container z-depth-5" id="post-wrapper">
  <div class="row">
    <div class="col s12 m6 gray-bg">
      <h1><%= @post.title %></h1>
    </div>
    <div class="col s12 m6 white-bg">
      <p><%= @post.content %></p>
    </div>
  </div>
</div>
<div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red-bg">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating red-bg" do %>
      <i class="material-icons">delete</i>
      <%end%>
    </li>
    <li>
      <%= link_to edit_post_path(@post), class: "btn-floating green-bg" do %>
      <i class="material-icons">mode_edit</i>
      <%end%>
    </li>
  </ul>
</div>
